#alias vim='/home/linuxbrew/.linuxbrew/bin/vim'
#alias vimdiff='/home/linuxbrew/.linuxbrew/bin/vimdiff'
alias v='vim'
alias duf='du -sk * | sort -n | perl -ne '\''($s,$f)=split(m{\t});for (qw(K M G)) {if($s<1024) {printf("%.1f",$s);print "$_\t$f"; last};$s=$s/1024}'\'
alias dufh='sudo du -sk .* | sort -n | perl -ne '\''($s,$f)=split(m{\t});for (qw(K M G)) {if($s<1024) {printf("%.1f",$s);print "$_\t$f"; last};$s=$s/1024}'\'
alias mv='mv -i'
alias cp='cp -i'
alias rcp='nocorrect rsync -ahv --info=progress2'
alias rcpdet='nocorrect rsync -ahvP'
alias x='nocorrect dtrx'
alias -g noui='&>/dev/null &disown'
alias rg='/home/linuxbrew/.linuxbrew/bin/rg'
alias config='/usr/bin/git --git-dir=$HOME/.cfg/ --work-tree=$HOME'
